.container {
    width: 100%;    
    display: flex;    
}

mat-nav-list {
    width: 90%;
    margin: 0 auto;
}
.name {
    margin: 0 2%;
}
.heading {
    margin-top: 5%;
    text-align: center;
}
app-progress-bar {
    width: 20%;
    margin: 1%;
}